body{
    margin: 0;
    background:radial-gradient(white,rgb(120, 117, 117));
    font-style:oblique;
    padding: 105px;
    border: 20px solid rgb(97, 97, 96);
}
header, main{
    text-align: center;
}

h1{
    font-size: 50px;
    color: hsl(174, 13%, 16%);
}
h4{
    color: rgb(43, 39, 34);
    margin-top: 40px;
    font-size: 40px;
}

pre, p{
    font-size: 20px;
}
footer h4{
    text-align: center;
    align-items: center;
}
.title{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.lista li{
    margin-left: 500px;
}
