body{
    background:radial-gradient(white,rgb(120, 117, 117))
}
header, main{
    text-align: center;
}

h1{
    font-size: 50px;
}
h4{
    margin-top: 40px;
    font-size: 40px;
}

pre, p{
    font-size: 20px;
}
footer h4{
    text-align: center;
    align-items: center;
}
.title{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.lista li{
    margin-left: 500px;
}
